<div class="container">
  <div class="filters">
    <!-- TODO: add all activities-->
    <!-- TODO: use drop down menu?-->
    <!-- TODO: can an we use ngFor here?-->
    <a class="button" (click)="updateFilter(Activity.SKITOURING)"
      [ngClass]="{'selected': !isSelected(Activity.SKITOURING)}">Ski Touring</a>
    <a class="button" (click)="updateFilter(Activity.SPORTCLIMBING)"
      [ngClass]="{'selected': !isSelected(Activity.SPORTCLIMBING)}">Sport Climbing</a>
    <a class="button" (click)="updateFilter(Activity.BOULDERING)"
      [ngClass]="{'selected': !isSelected(Activity.BOULDERING)}">Bouldering</a>
    <a class="button" (click)="updateFilter(Activity.MOUNTAINBIKING)"
      [ngClass]="{'selected': !isSelected(Activity.MOUNTAINBIKING)}">Mountain Biking</a>
    <a class="button" (click)="updateFilter(Activity.HIKING)"
      [ngClass]="{'selected': !isSelected(Activity.HIKING)}">Hiking</a>
    <button class="cta" (click)="clearFilter()">clear</button>
  </div>
  <ul class="tours">
    <li class="tour-item" *ngFor="let tour of getFilteredTours()">
      <etc-tour-preview [tour]="tour" (open)="showTourDetails(tour)"></etc-tour-preview>
    </li>
  </ul>
</div>