@use "styles/utils" as ds;

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: ds.$lines-color-dark-theme;
    height: 4px;
  }

  .custom-slider {
    padding: 12px 0;
    width: 400px;
    cursor: pointer;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: ds.$primary-color-dark-theme;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 20px;
    height: 20px;
    background-color: ds.$lines-color-dark-theme;
    border-radius: 10px;
    margin-left: 0px;
    top: -8px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:active {
    outline: none;
    background-color: ds.$primary-color-dark-theme;
    box-shadow: 0 0 0 2px ds.$primary-color-dark-theme;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:focus {
    outline: none;
    box-shadow: none;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    margin-bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    color: ds.$lines-color-dark-theme;
    font-weight: bold;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: ds.$primary-color-dark-theme;
  }
}