<div class="tour">
  <div class="tour-details">
    <img [src]="getImageUrl(tour)" [alt]="'activity'" />
    <div class="tour-info">
      <div class="name">{{ tour.name }}</div>
      <div class="description">{{ tour.shortDescription }}</div>
      <div class="activity">Activity type: {{ tour.activityType.toString() }}</div>
    </div>
  </div>
  <div class="distance">
    <div>{{ tour.distance | kilometers }}</div>
    <button class="cta" [routerLink]="['/tour-details', tour.id]">Details</button>
  </div>
</div>