<section class="tour">
  <div class="tour-preview">
    <div class="tour-info">
      <div class="tour-index">{{ index + 1 }}</div>
      <div class="activity">{{ tour.activityType | activity }}</div>
      <div class="tour-flag" *ngIf="tour.difficulty"
        [ngStyle]="{'background-color': getDifficultyColor(tour.difficulty)}">{{
        tour.difficulty | difficulty }}</div>
      <div class="tour-flag" *ngIf="tour.risk" [ngStyle]="{'background-color': getRiskColor(tour.risk)}">{{ tour.risk |
        risk }}</div>
    </div>
    <h1>
      <a class="tour-name" [routerLink]="['/tour-details', tour.id]">{{ tour.name }}</a>
    </h1>
    <div class="details">
      <img class="preview-icon" [src]="'distance-icon.png'" [alt]="'distance:'" />
      <div class="preview-detail">{{ tour.distance | kilometers }}</div>
      <img class="preview-icon" [src]="'elevation-icon.png'" [alt]="'elevation:'" />
      <div class="preview-detail">{{ tour.metersOfElevation | meters }}</div>
      <img class="preview-icon" [src]="'time-icon.png'" [alt]="'duration:'" />
      <div class="preview-detail">{{ tour.duration | duration }}</div>
    </div>
    <h2>Description</h2>
    <div class="description">{{ tour.shortDescription }}</div>
  </div>
</section>