<div class="activity-selector-container">
  <ul>
    <li *ngFor="let activity of activitiesOrdered">
      @if(isIconSelected(activity))
      {
      <img [src]="activityIconNames[activity].FileName" (click)="clickIcon(activity)"
        [alt]="activityIconNames[activity].FileName" matTooltip="{{ activityIconNames[activity].ActivityName }}">
      }
      @else{
      <img [src]="getGreyIcon(activityIconNames[activity].FileName)" (click)="clickIcon(activity)"
        [alt]="getGreyIcon(activityIconNames[activity].FileName)"
        matTooltip="{{ activityIconNames[activity].ActivityName }}">
      }
    </li>
  </ul>
</div>