@use "styles/utils" as ds;

$line-width: 2px;

a {
  color: ds.$primary-color-dark-theme;
  text-decoration: none;
}

a.active {
  padding-bottom: ds.$space-xs;
  border-bottom: $line-width solid ds.$primary-color-dark-theme;
}

.container {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  border-bottom: $line-width solid ds.$lines-color-dark-theme;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: ds.$background-color-dark-theme;
  /* Ensure header stays above other content */
  z-index: 9999;
}

.left {
  display: flex;
  align-items: center;
}

.left * {
  margin-right: ds.$space-xl;
}

.logo {
  height: 65px;
  margin-top: ds.$space-s;
  margin-bottom: ds.$space-s;
  margin-left: ds.$space-s;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  margin-right: ds.$space-xl;
}

.right * {
  margin-left: ds.$space-xl;
}