.avalanche-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-y: scroll;
  overflow-y: hidden;
}

.overview {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  border: 2px solid #818080;
  border-radius: 10px;
  background-color: rgb(55, 55, 55);
  width: 400px;
  height: auto;
  color: rgb(208, 208, 208);

}

.report-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  margin-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.level-symbol {
  display: inline-block;
  height: 50px;
  width: auto;
  margin-top: 0px;
  vertical-align: auto;
}

.risk-indicator {
  display: inline-block;
  transform: scale(0.6);
  margin-right: -25px;
}

.aspect-indicator {
  display: inline-block;
  transform: scale(0.6);
  margin-left: 20px;
}

.risk-boundary {
  display: inline-block;
  margin-top: 6px;
  width: auto;
  font-size: x-small;
  white-space: nowrap;
}

.problem-header {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
  align-items: center;
  gap: 10px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 5px;
  width: max-content;
}

.problem-symbol {
  margin-left: 10px;
  width: 40px;
  height: auto;
}

.aspect-indicator-small {
  width: 30px;
  transform: scale(0.4);
}

.problem-type {
  font-size: medium;
  font-weight: bold;
}

.problem-summary {
  margin-left: 25px;
  margin-bottom: 15px;
}

h1 {
  font-size: large;
  font-weight: bold;
  flex: 1;
  margin-left: 15px;
  margin-top: 15px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}