$background-color-dark-theme: #2e2e2e;
$lines-color-dark-theme: #cecece;
$lines-color-contrast-dark-theme: #9c9c9c;
$primary-color-dark-theme: #aaccffff;
$primar-color-contrast-dark-theme: #6ca4dd, ;
$accent-color-dark-theme: #599e8c;
$alert-color: #ff9012;
$error-color: #cf6666;
$error-color-contrast: #b93e3e;