@use "styles/utils" as ds;

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

h3 {
  color: ds.$primary-color-dark-theme;
  font-weight: bold;
  font-size: large;
  margin: 0;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-top: ds.$space-md;
  margin-left: ds.$space-lg;
}

.slider-label {
  margin-top: 20px;
  width: 140px;
  padding-right: ds.$space-lg;
}

.aspect-container {
  display: flex;
  align-items: center;
  margin-top: ds.$space-md;
  margin-left: ds.$space-lg;
}