<ul class="weather-timeseries" *ngIf="forecast">
  <li class="weather-item" *ngFor="let timeStep of getWeatherForNext16Hours()">
    <div class="item-header">
      <div class="weather-time">
        {{ timeStep.time | hour }}
      </div>
      <img *ngIf="timeStep.data.nextOneHours.symbolCode" class="weather-symbol"
        src=" {{ getWeatherSymbolPath(timeStep) }}" />
      <img *ngIf="windDirectionIsValid(timeStep)" class="wind-symbol" src=" {{ getWindSymbolPath(timeStep) }}" />
    </div>
    <table>
      <tr class="details-header">
        <td>Temp.</td>
        <td>Precip.</td>
        <td>Prob.</td>
        <td>Wind</td>
      </tr>
      <tr class="details-units">
        <td>({{ getTemperatureUnit() }})</td>
        <td>({{ getPrecipicationUnit() }})</td>
        <td>(%)</td>
        <td>({{ getWindSpeedUnit() }})</td>
      </tr>
      <tr class="details-content">
        <th>
          {{ getTemperature(timeStep) }}
        </th>
        <th>
          {{ getPrecipication(timeStep) }}
        </th>
        <th>
          {{ getPrecipicationProbability(timeStep) }}
        </th>
        <th>
          {{ getWindSpeed(timeStep) }}
        </th>
      </tr>
    </table>
  </li>
</ul>
<div class="credit">Symbol source: <a href="https://nrkno.github.io/yr-weather-symbols/">YR</a></div>