/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(46, 46, 46);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #aaccffff;
}

a {
  color: #aaccffff;
  text-decoration: none;
}

a.active {
  padding-bottom: 5px;
  border-bottom: 2px solid #aaccffff;
}

a.button.active {
  padding-bottom: 5px;
  border-bottom: 2px solid #aaccffff;
}

a:visited {
  color: #aaccffff;
}

a:hover {
  color: #aaccffff;
}

a.cta {
  color: #aaccffff;
}

a.cta:visited {
  color: #aaccffff;
}

a.cta:hover {
  color: #64c6ac;
}

.cta {
  color: #aaccffff;
}

a.cta {
  color: #aaccffff;
}

a.cta:visited {
  color: #aaccffff;
}

a.cta:hover {
  color: #64c6ac;
}

.cta {
  color: #aaccffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-size: 15px;
  padding: 15px 25px;
  background-color: rgb(93, 93, 93);
  color: rgb(208, 208, 208);
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

a.button {
  font-size: 15px;
  padding: 15px 25px;
  background-color: rgb(51, 51, 51);
  color: rgb(208, 208, 208);
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

a.button:hover {
  color: white;
}

a.button:active {
  background-color: rgb(93, 93, 93);
}

a.button.selected {
  background-color: #5d5d5d;
}

button:disabled {
  background-color: #f590c4;
}

button:hover {
  color: white;
}

button.cta {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aaccffff;
  color: rgb(46, 46, 46);
}

button.cta:hover {
  background-color: #599e8c;
  color: rgb(230, 230, 230);
}

input {
  padding: 15px;
  font-size: 20px;
}

.button.cta:disabled {
  background-color: #f590c4;
  color: white;
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.marker-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px #00000080;
}

.marker-text {
  line-height: 1;
}