@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */
@use "styles/utils" as ds;

body {
  background-color: ds.$background-color-dark-theme;
  font-size: 16px;
  color: ds.$primary-color-dark-theme;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.marker-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px #00000080;
}

.marker-text {
  line-height: 1;
}


button {
  display: inline-block;
  padding: ds.$space-md ds.$space-xl;
  border-radius: ds.$border-radius;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease;
  color: ds.$background-color-dark-theme;
  border: transparent;
}

.primary {
  background-color: ds.$primary-color-dark-theme;
}

.primary:hover,
.primary:active {
  background-color: ds.$primar-color-contrast-dark-theme;
}

.secondary {
  background-color: ds.$lines-color-dark-theme;
}

.secondary:hover,
.secondary:active {
  background-color: ds.$lines-color-contrast-dark-theme;
}

.warn {
  background-color: ds.$error-color;
}

.warn:hover,
.warn:active {
  background-color: ds.$error-color-contrast;
}

:root {
  @include mat.dialog-overrides((container-color: ds.$background-color-dark-theme,
    ));
}

.mat-dialog-container {
  padding-left: 24px;
}

mat-dialog-title {
  margin-bottom: 16px;
  color: #FFFFFF;
}

mat-dialog-content p {
  color: ds.$lines-color-dark-theme;
}

.buttons {
  display: flex;
  gap: ds.$space-md;
}

.mat-dialog-title {
  padding-left: 20px;
  margin-bottom: 0;
}