h1 {
  background-color: var(--color-primary);
  color: var(--font-color-dark-bg);
  font-size: 40px;
  padding: 40px 15px;
  margin: 0;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}