<div class="search-filter-container">
  <h1>Choose your next adventure!</h1>

  <div class="welcome-screen-container">
    <form [formGroup]="filtersForm" (ngSubmit)="searchTours()">

      <p>TODOS: Add all kinds of filters: sliders for duration, meters of elevation, tour length, risk level, travel
        distance and
        travel
        duration </p>
      <etc-activity-selector formControlName="activitiesFlag" />
      <!-- TODO: create custom component to allow including the ngx-slider in the form control -->
      <!-- <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider> -->
      <etc-aspect-picker formControlName="aspects" />
      <button type="submit" class="primary">Find Adventures</button>
    </form>
  </div>
</div>