h1 {
  font-size: xx-large;
  margin: 0;
  line-height: 1.2;
}

button {
  margin-bottom: 2rem;
}

.home-container {
  margin: 3rem 0;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
